@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <hr />

        <h3>read me for context:</h3>
        <p style="text-align:left">
            RazorPages were used since they were relatively easy to set-up. <br />
            Had i used vue i'd have been able to make a more custom frontend. <br />
            However i will be able to provide a step by step on how i'd have done that. <br />
            Considering i am a bit rusty with razor pages, this seemed like a good chance to polish that back up a bit.
        </p>
        <p style="text-align:left">
            The result however is that this might is a bit rough around the edges, apologies for that. <br />
        </p>
        <hr />
        <p style="text-align:left">
            Basic design kept in place since it required little to no tweaking while being fairly clear. <br />
            Added simple background colors to index page, to indicate ResearchState. <br />
            Concept didn't get one since that state wasn't going to be visible with current the stated requirements. <br />
        </p>

        <ol style="list-style-type:none; margin:auto; width:50vw">
            <li style="background-color:#f1f1f1">Gepland</li>
            <li style="background-color: #f5e27e">Lopend</li>
            <li style="background-color: #a0e57c">Afgerond</li>
        </ol>

    </div>
