@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    this is a private assignment, only important people get to read this.
</p>

<img style="width: 50vw; max-width: 490px; margin: auto"
     src="https://pbs.twimg.com/media/Dhb_HfKXcAU7pnU?format=jpg&name=900x900"
     />
